[Desktop Entry]
Name=Password Generator
Comment=Generate various types of passwords
Icon=gnome-password-generator
Exec=gnome-password-generator
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Utility;
